*.suo
src/LowLevelAPI/Common/bin
src/LowLevelAPI/DrawTextureCube/bin
src/LowLevelAPI/DrawTriangle/bin
src/LowLevelAPI/DrawTriangle/obj
src/LowLevelAPI/DrawTextureCube/obj
src/LowLevelAPI/Common/obj
src/LowLevelAPI/.vs/LowLevelAPI/DesignTimeBuild/.dtbcache.v2
src/LowLevelAPI/Texture2DArray/bin
src/LowLevelAPI/Texture2DArray/obj
src/LowLevelAPI/Stencil/bin
src/LowLevelAPI/Stencil/obj
src/LowLevelAPI/GeometryShader/bin
src/LowLevelAPI/GeometryShader/obj
src/LowLevelAPI/TextureCubeArray/bin
src/LowLevelAPI/TextureCubeArray/obj
src/LowLevelAPI/RenderToTexture/bin
src/LowLevelAPI/RenderToTexture/obj
src/LowLevelAPI/DrawInstancingIndirect/bin
src/LowLevelAPI/DrawInstancingIndirect/obj
